$main-grey: #999999;
$secondary-grey: #5e6064;
$third-grey: #545559;
$main-purple: #6d3075;
$secondary-purple: #7b3984;
$third-purple: #6d2f74;
$main-blue: #62b3e3;
$secondary-blue: #03bfe9;
$dark-blue: #3d375e;
$white: #ffff;
$whitish: #f8f8f8;
$main-pink: #eae1ea;
