.right-info {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    background-color: $white;
    display: flex;
    align-items: center;
    padding: 11px 10px 11px 70px;

    &__text {
        .logo {
            font-size: 12px;
            color: $secondary-grey;
            font-weight: 700;
            position: relative;
            margin-right: 8px;

            .rights {
                position: absolute;
                top: 1px;
                right: 0;
                font-size: 6px;
                color: $secondary-grey;
            }
        }

        .telephone {
            font-size: 12px;
            color: $secondary-grey;
            font-weight: 700;
        }

        .break {
            margin: 0 10px;
            color: $secondary-blue;
            font-size: 12px;
        }

        .link {
            color: $secondary-blue;
            font-size: 12px;
        }

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            left: -3px;
            bottom: -31.5px;
            width: 86px;
            height: 35px;
            transform: rotate(5deg);
            background: white;
            box-shadow: 0px 20px 23px -36px rgba(0, 0, 0, 0.9) inset;
            backface-visibility: hidden;
        }
    }

    .teva-logo {
        margin-left: 85px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px 40px 18px 40px;

    &__left {
        display: flex;
        align-items: center;
    }

    &__logo-container {
        margin-right: 30px;
    }

    &__right {
        display: flex;

        .dropdown2 {
            width: 150px;
            height: 50px;
            border-radius: 10px;
            padding: 0 20px;
            border: 1px solid $main-blue;
            background-color: $white;
            margin-left: 20px;

            .text2 {
                font-weight: 500;
                line-height: 26px;
                text-transform: uppercase;
                color: $main-blue;
            }

            .fas {
                color: $main-blue;
            }
        }
    }

    .break-line {
        width: 1px;
        height: 40px;
        background-color: $main-grey;
        margin-right: 30px;
    }

    .thin {
        color: $main-grey;
        font-size: 16px;
    }

    &__text {
        width: 324px;
        height: 27px;
        color: $main-purple;
        font-size: 20px;
        font-weight: 700;
    }

    &__dropdown {
        width: 250px;
        height: 50px;
        background-color: $white;
        border: 1px solid $main-purple;
        border-radius: 8px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 12px 20px 12px 15px;
        cursor: pointer;

        &--text {
            width: 235px;
            color: $main-purple;
            font-weight: 500;
            line-height: 26px;
            text-align: left;
            text-transform: uppercase;
        }

        .fas {
            color: $main-purple;
        }
    }
}

.background {
    font-size: 16px;
    background-color: $main-pink;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #000000;
}

.main-menu {
    width: 100%;

    &__dropdowns {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: $main-purple;

        .dropdown {
            height: 100%;
            min-width: 151px;
            padding: 16px 33px 16px 17px;
            color: $white;
            line-height: 18px;
            text-align: center;
            cursor: pointer;
            position: relative;

            .fas {
                font-size: 11px;
                margin-left: 6px;
            }

            .about-fas {
                margin-left: 10px;
            }

            .starting-fas {
                margin-left: 13px;
            }

            .support-fas {
                margin-left: 8px;
            }

            &__text {
                white-space: nowrap;
            }
        }

        .big {
            padding: 16px 24px;
        }

        .active {
            background-color: $secondary-purple;
            color: $white;

            .fas {
                font-size: 11px;
            }
        }
    }

    &__options {
        height: 50px;
        background-color: $secondary-purple;
        transition: all 1s linear;

        &__content {
            max-width: 540px;
            display: flex;
            align-items: center;
            margin: 0 auto;
        }

        .option {
            color: $white;
            padding: 16px 0 16px 38px;
            cursor: pointer;
        }

        .active {
            color: $main-blue;
            font-weight: 600;
            line-height: 18px;
            text-align: center;
        }
    }
    .none {
        opacity: 0.9;
        background-color: $main-purple;
        position: absolute;
        pointer-events: none;
    }

    .text-none {
        display: none;
    }

    .display {
        opacity: 1;
        pointer-events: all;
    }

    &__image-container {
        background-image: url("../images/Background_Image.png");
        height: 445px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 58px;
        position: relative;

        &__text {
            max-width: 780px;
            margin: 0 auto;
            padding-top: 120px;
            display: flex;
            flex-direction: column;
            color: $white;

            &--header {
                width: 356px;
                color: $whitish;
                font-size: 28px;
                font-weight: 500;
                line-height: 39px;
                margin-bottom: 18px;
            }

            &--info {
                width: 360px;
                color: $whitish;
                font-size: 16px;
                font-weight: 500;
                line-height: 28px;
            }
        }
    }
}

.second-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .second-content {
        &__text {
            width: 848px;
            font-weight: 400;
            color: $dark-blue;
            font-size: 16px;
            line-height: 28px;
        }

        &__btn-container {
            display: flex;
            justify-content: center;
            &__btn {
                border: none;
                width: 185px;
                height: 42px;
                border-radius: 21px;
                background-color: $third-purple;
                color: $white;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 1.25px;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 44px;
                cursor: pointer;
            }
        }

        &__symptons {
            &__header {
                color: $dark-blue;
                font-size: 28px;
                font-weight: 500;
                line-height: 39px;
                margin-bottom: 15px;
            }

            &__text {
                width: 945px;
                color: $dark-blue;
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 28px;

                .link {
                    font-size: 16px;
                    color: $main-blue;
                    font-weight: 500;
                    text-decoration: underline;
                }
            }

            .iframe-container {
                display: flex;
                height: 270px;
                width: 933px;
                margin-bottom: 51px;

                .iframe-content {
                    height: 269px;
                    width: 100%;
                }

                .controls {
                    margin-left: 13px;
                    padding: 20px 12px 20px 12px;
                    width: 224px;
                    height: 270px;
                    background-color: $whitish;
                    &__header {
                        color: $main-blue;
                        margin-bottom: 10px;
                        font-size: 12px;
                        font-weight: 600;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                    }

                    &__menu {
                        .video {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 6px;
                            width: 200px;
                            height: 38px;
                            border-bottom: 2px solid #ededed;
                            cursor: pointer;
                            color: $third-grey;

                            .fas {
                                margin-right: 5px;
                                display: none;
                            }

                            &__name {
                                font-size: 12px;
                                font-weight: 600;
                                display: flex;
                            }

                            &__length {
                                color: #545559;
                                font-size: 10px;
                                letter-spacing: 0.31px;
                                text-align: right;
                            }
                        }

                        .last {
                            border-bottom: none;
                        }

                        .active {
                            background-color: #ededed;
                            color: $third-purple;

                            .fas{
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        &__causes {
            margin: 0 auto;
            margin-bottom: 81px;
            width: 750px;

            &__header {
                color: $dark-blue;
                font-size: 28px;
                font-weight: 500;
                line-height: 39px;
            }

            &__second-header {
                display: flex;
                align-items: center;

                .info {
                    color: $third-purple;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 26px;
                    margin-left: 36px;
                }
            }

            .information {
                color: $third-grey;
                font-weight: 700;
                line-height: 26px;
                margin-bottom: 5px;
            }

            .small {
                font-size: 9px;
            }

            .medium {
                font-size: 12px;
                font-weight: 600;
            }

            .bold {
                font-weight: 700;
            }

            .information-2 {
                color: $third-grey;
                font-weight: 500;
                line-height: 24px;
            }
        }
    }
}

.rows-container {
    .row-discovery {
        display: flex;
        width: 100%;

        &__logo {
            width: 50%;
        }

        &__text-container {
            width: 50%;
            background-color: $whitish;
            padding: 82px 30px 133px 115px;

            &__text {
                width: 360px;
                display: flex;
                flex-direction: column;

                &__header {
                    color: $dark-blue;
                    font-weight: 500;
                    margin-bottom: 13px;
                }

                &__header-2 {
                    color: $dark-blue;
                    font-size: 28px;
                    font-weight: 500;
                    line-height: 39px;
                    margin-bottom: 25px;
                }

                &__info {
                    color: $dark-blue;
                    font-size: 16px;
                    line-height: 28px;

                    .discovery {
                        padding-left: 7px;
                    }
                }
            }
        }
    }

    .row-stories {
        width: 100%;
        height: 368px;
        background-color: $whitish;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__text {
            position: relative;
            width: 704px;
            color: $third-purple;
            font-size: 28px;
            font-weight: 500;
            line-height: 49px;

            .hand-write {
                font-family: $homemadeapple;
                font-size: 29px;
            }

            .start-quote {
                position: absolute;
                left: -110px;
                top: -45px;
            }

            .end-quote {
                position: absolute;
                right: -110px;
                top: 40px;
            }

            .author {
                position: absolute;
                bottom: 10px;
                right: -20px;
                width: 136px;
                color: $third-grey;
                font-style: italic;
                font-size: 10px;
            }

            .author::before {
                content: "—";
            }
        }

        .more-stories-btn {
            width: 258px;
            height: 42px;
            border-radius: 21px;
            background-color: $third-purple;
            border: none;
            cursor: pointer;
            color: $white;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 1.25px;
            text-transform: uppercase;
        }
    }

    .row-diagnose {
        width: 100%;
        background-color: $whitish;
        height: 449px;
        display: flex;
        border-bottom: 26px solid $third-purple;
        margin-bottom: 50px;

        &__text-container {
            width: 50%;
            padding: 82px 115px 133px 215px;

            &__text {
                width: 360px;

                &__header {
                    color: $dark-blue;
                    font-weight: 500;
                    margin-bottom: 15px;
                }

                &__header-2 {
                    color: $dark-blue;
                    font-size: 28px;
                    font-weight: 500;
                    line-height: 39px;
                    margin-bottom: 25px;
                }

                &__info {
                    color: $dark-blue;
                    font-size: 16px;
                    line-height: 28px;
                }
            }
        }

        &__img {
            width: 50%;
        }
    }
}

.references-container {
    position: relative;
    border-top: 4px solid $third-purple;
    border-bottom: 4px solid $third-purple;

    &__references {
        margin: 47px 0 38px 150px;
        width: 1157px;
        color: #000000;
        letter-spacing: 0.1px;
        line-height: 25px;
        font-weight: 400;

        .bold {
            font-weight: 500;
            color: #000000;
        }
    }

    .border {
        position: absolute;
        bottom: -4px;
        width: 68%;
        height: 4px;
        background-color: $main-blue;
    }
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    padding: 27px 0;

    .links {
        color: $third-grey;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: center;

        .link {
            cursor: pointer;
        }

        .break-line {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

.footer {
    padding: 23px 0 9px 40px;

    &__info {
        color: $third-grey;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 11px;
    }

    &__info-2 {
        display: flex;
        color: $third-grey;
        font-size: 12px;
        line-height: 20px;

        .teva {
            margin-left: 5px;
        }
    }

    &__info-3 {
        color: $third-grey;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;

        .date {
            margin-left: 5px;
        }
    }
}
