@charset "UTF-8";
.right-info {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  background-color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 10px 11px 70px;
}

.right-info__text .logo {
  font-size: 12px;
  color: #5e6064;
  font-weight: 700;
  position: relative;
  margin-right: 8px;
}

.right-info__text .logo .rights {
  position: absolute;
  top: 1px;
  right: 0;
  font-size: 6px;
  color: #5e6064;
}

.right-info__text .telephone {
  font-size: 12px;
  color: #5e6064;
  font-weight: 700;
}

.right-info__text .break {
  margin: 0 10px;
  color: #03bfe9;
  font-size: 12px;
}

.right-info__text .link {
  color: #03bfe9;
  font-size: 12px;
}

.right-info__text::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -3px;
  bottom: -31.5px;
  width: 86px;
  height: 35px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  background: white;
  -webkit-box-shadow: 0px 20px 23px -36px rgba(0, 0, 0, 0.9) inset;
          box-shadow: 0px 20px 23px -36px rgba(0, 0, 0, 0.9) inset;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.right-info .teva-logo {
  margin-left: 85px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 48px 40px 18px 40px;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-container {
  margin-right: 30px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__right .dropdown2 {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  padding: 0 20px;
  border: 1px solid #62b3e3;
  background-color: #ffff;
  margin-left: 20px;
}

.header__right .dropdown2 .text2 {
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  color: #62b3e3;
}

.header__right .dropdown2 .fas {
  color: #62b3e3;
}

.header .break-line {
  width: 1px;
  height: 40px;
  background-color: #999999;
  margin-right: 30px;
}

.header .thin {
  color: #999999;
  font-size: 16px;
}

.header__text {
  width: 324px;
  height: 27px;
  color: #6d3075;
  font-size: 20px;
  font-weight: 700;
}

.header__dropdown {
  width: 250px;
  height: 50px;
  background-color: #ffff;
  border: 1px solid #6d3075;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px 12px 15px;
  cursor: pointer;
}

.header__dropdown--text {
  width: 235px;
  color: #6d3075;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
}

.header__dropdown .fas {
  color: #6d3075;
}

.background {
  font-size: 16px;
  background-color: #eae1ea;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-menu {
  width: 100%;
}

.main-menu__dropdowns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #6d3075;
}

.main-menu__dropdowns .dropdown {
  height: 100%;
  min-width: 151px;
  padding: 16px 33px 16px 17px;
  color: #ffff;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.main-menu__dropdowns .dropdown .fas {
  font-size: 11px;
  margin-left: 6px;
}

.main-menu__dropdowns .dropdown .about-fas {
  margin-left: 10px;
}

.main-menu__dropdowns .dropdown .starting-fas {
  margin-left: 13px;
}

.main-menu__dropdowns .dropdown .support-fas {
  margin-left: 8px;
}

.main-menu__dropdowns .dropdown__text {
  white-space: nowrap;
}

.main-menu__dropdowns .big {
  padding: 16px 24px;
}

.main-menu__dropdowns .active {
  background-color: #7b3984;
  color: #ffff;
}

.main-menu__dropdowns .active .fas {
  font-size: 11px;
}

.main-menu__options {
  height: 50px;
  background-color: #7b3984;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.main-menu__options__content {
  max-width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.main-menu__options .option {
  color: #ffff;
  padding: 16px 0 16px 38px;
  cursor: pointer;
}

.main-menu__options .active {
  color: #62b3e3;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
}

.main-menu .none {
  opacity: 0.9;
  background-color: #6d3075;
  position: absolute;
  pointer-events: none;
}

.main-menu .text-none {
  display: none;
}

.main-menu .display {
  opacity: 1;
  pointer-events: all;
}

.main-menu__image-container {
  background-image: url("../images/Background_Image.png");
  height: 445px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 58px;
  position: relative;
}

.main-menu__image-container__text {
  max-width: 780px;
  margin: 0 auto;
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffff;
}

.main-menu__image-container__text--header {
  width: 356px;
  color: #f8f8f8;
  font-size: 28px;
  font-weight: 500;
  line-height: 39px;
  margin-bottom: 18px;
}

.main-menu__image-container__text--info {
  width: 360px;
  color: #f8f8f8;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.second-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-content-container .second-content__text {
  width: 848px;
  font-weight: 400;
  color: #3d375e;
  font-size: 16px;
  line-height: 28px;
}

.second-content-container .second-content__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-content-container .second-content__btn-container__btn {
  border: none;
  width: 185px;
  height: 42px;
  border-radius: 21px;
  background-color: #6d2f74;
  color: #ffff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 44px;
  cursor: pointer;
}

.second-content-container .second-content__symptons__header {
  color: #3d375e;
  font-size: 28px;
  font-weight: 500;
  line-height: 39px;
  margin-bottom: 15px;
}

.second-content-container .second-content__symptons__text {
  width: 945px;
  color: #3d375e;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 28px;
}

.second-content-container .second-content__symptons__text .link {
  font-size: 16px;
  color: #62b3e3;
  font-weight: 500;
  text-decoration: underline;
}

.second-content-container .second-content__symptons .iframe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 270px;
  width: 933px;
  margin-bottom: 51px;
}

.second-content-container .second-content__symptons .iframe-container .iframe-content {
  height: 269px;
  width: 100%;
}

.second-content-container .second-content__symptons .iframe-container .controls {
  margin-left: 13px;
  padding: 20px 12px 20px 12px;
  width: 224px;
  height: 270px;
  background-color: #f8f8f8;
}

.second-content-container .second-content__symptons .iframe-container .controls__header {
  color: #62b3e3;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.second-content-container .second-content__symptons .iframe-container .controls__menu .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
  width: 200px;
  height: 38px;
  border-bottom: 2px solid #ededed;
  cursor: pointer;
  color: #545559;
}

.second-content-container .second-content__symptons .iframe-container .controls__menu .video .fas {
  margin-right: 5px;
  display: none;
}

.second-content-container .second-content__symptons .iframe-container .controls__menu .video__name {
  font-size: 12px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-content-container .second-content__symptons .iframe-container .controls__menu .video__length {
  color: #545559;
  font-size: 10px;
  letter-spacing: 0.31px;
  text-align: right;
}

.second-content-container .second-content__symptons .iframe-container .controls__menu .last {
  border-bottom: none;
}

.second-content-container .second-content__symptons .iframe-container .controls__menu .active {
  background-color: #ededed;
  color: #6d2f74;
}

.second-content-container .second-content__symptons .iframe-container .controls__menu .active .fas {
  display: block;
}

.second-content-container .second-content__causes {
  margin: 0 auto;
  margin-bottom: 81px;
  width: 750px;
}

.second-content-container .second-content__causes__header {
  color: #3d375e;
  font-size: 28px;
  font-weight: 500;
  line-height: 39px;
}

.second-content-container .second-content__causes__second-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-content-container .second-content__causes__second-header .info {
  color: #6d2f74;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  margin-left: 36px;
}

.second-content-container .second-content__causes .information {
  color: #545559;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 5px;
}

.second-content-container .second-content__causes .small {
  font-size: 9px;
}

.second-content-container .second-content__causes .medium {
  font-size: 12px;
  font-weight: 600;
}

.second-content-container .second-content__causes .bold {
  font-weight: 700;
}

.second-content-container .second-content__causes .information-2 {
  color: #545559;
  font-weight: 500;
  line-height: 24px;
}

.rows-container .row-discovery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.rows-container .row-discovery__logo {
  width: 50%;
}

.rows-container .row-discovery__text-container {
  width: 50%;
  background-color: #f8f8f8;
  padding: 82px 30px 133px 115px;
}

.rows-container .row-discovery__text-container__text {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rows-container .row-discovery__text-container__text__header {
  color: #3d375e;
  font-weight: 500;
  margin-bottom: 13px;
}

.rows-container .row-discovery__text-container__text__header-2 {
  color: #3d375e;
  font-size: 28px;
  font-weight: 500;
  line-height: 39px;
  margin-bottom: 25px;
}

.rows-container .row-discovery__text-container__text__info {
  color: #3d375e;
  font-size: 16px;
  line-height: 28px;
}

.rows-container .row-discovery__text-container__text__info .discovery {
  padding-left: 7px;
}

.rows-container .row-stories {
  width: 100%;
  height: 368px;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rows-container .row-stories__text {
  position: relative;
  width: 704px;
  color: #6d2f74;
  font-size: 28px;
  font-weight: 500;
  line-height: 49px;
}

.rows-container .row-stories__text .hand-write {
  font-family: "Homemade Apple", sans-serif;
  font-size: 29px;
}

.rows-container .row-stories__text .start-quote {
  position: absolute;
  left: -110px;
  top: -45px;
}

.rows-container .row-stories__text .end-quote {
  position: absolute;
  right: -110px;
  top: 40px;
}

.rows-container .row-stories__text .author {
  position: absolute;
  bottom: 10px;
  right: -20px;
  width: 136px;
  color: #545559;
  font-style: italic;
  font-size: 10px;
}

.rows-container .row-stories__text .author::before {
  content: "—";
}

.rows-container .row-stories .more-stories-btn {
  width: 258px;
  height: 42px;
  border-radius: 21px;
  background-color: #6d2f74;
  border: none;
  cursor: pointer;
  color: #ffff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.rows-container .row-diagnose {
  width: 100%;
  background-color: #f8f8f8;
  height: 449px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 26px solid #6d2f74;
  margin-bottom: 50px;
}

.rows-container .row-diagnose__text-container {
  width: 50%;
  padding: 82px 115px 133px 215px;
}

.rows-container .row-diagnose__text-container__text {
  width: 360px;
}

.rows-container .row-diagnose__text-container__text__header {
  color: #3d375e;
  font-weight: 500;
  margin-bottom: 15px;
}

.rows-container .row-diagnose__text-container__text__header-2 {
  color: #3d375e;
  font-size: 28px;
  font-weight: 500;
  line-height: 39px;
  margin-bottom: 25px;
}

.rows-container .row-diagnose__text-container__text__info {
  color: #3d375e;
  font-size: 16px;
  line-height: 28px;
}

.rows-container .row-diagnose__img {
  width: 50%;
}

.references-container {
  position: relative;
  border-top: 4px solid #6d2f74;
  border-bottom: 4px solid #6d2f74;
}

.references-container__references {
  margin: 47px 0 38px 150px;
  width: 1157px;
  color: #000000;
  letter-spacing: 0.1px;
  line-height: 25px;
  font-weight: 400;
}

.references-container__references .bold {
  font-weight: 500;
  color: #000000;
}

.references-container .border {
  position: absolute;
  bottom: -4px;
  width: 68%;
  height: 4px;
  background-color: #62b3e3;
}

.links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  padding: 27px 0;
}

.links-container .links {
  color: #545559;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}

.links-container .links .link {
  cursor: pointer;
}

.links-container .links .break-line {
  margin-left: 10px;
  margin-right: 10px;
}

.footer {
  padding: 23px 0 9px 40px;
}

.footer__info {
  color: #545559;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 11px;
}

.footer__info-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #545559;
  font-size: 12px;
  line-height: 20px;
}

.footer__info-2 .teva {
  margin-left: 5px;
}

.footer__info-3 {
  color: #545559;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.footer__info-3 .date {
  margin-left: 5px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=main.css.map */