@import "./_fonts.scss";
@import "./_colors.scss";

@import "./_common.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    font-size: 14px;
    font-weight: 400;
    font-family: $montserrat;
}

.container {
    width: 100%;
    height: 100%;
}
